* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(46, 119, 119);
}

header {
  background-color: rgb(89, 155, 155);
  padding: 3rem;
  text-align: center;
  font-size: 10rem;
  color: white;
}

.header-text {
  text-align: center;
  font-size: 2.9rem;
  color: white;
}
.nav-bar {
  overflow: hidden;
  background-color: rgb(31, 96, 96);
  font-size: 8rem;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 1.3rem;
  text-decoration: none;
}

video {
  width: 100%;
  height: auto;
}

.about {
  background-color: rgb(44, 142, 142);
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "heading heading . button"
    "para1 para1 para1 ."
    ". para2 para2 para2"
    "para3 para3 para3 ."
    ". para4 para4 para4";
}

.about-heading {
  font-size: 3rem;
  color: white;
  border-bottom: 0.3rem dashed black;
  margin-bottom: 2rem;
  display: inline-block;
  grid-area: heading;
}

.style-me {
  font-size: 1.5rem;
  border: solid 0.2rem black;
  border-radius: 0.75rem;
  padding: 0.5rem;
  grid-area: button;
  height: 3rem;
}

.about-text {
  font-size: 2rem;
  color: white;
  margin: 1rem;
}
.para1 {
  grid-area: para1;
}
.para3 {
  text-align: left;
  grid-area: para3;
}
.para2 {
  text-align: right;
  grid-area: para2;
}
.para4 {
  text-align: right;
  grid-area: para4;
}

.skills {
  color: white;
  background-color: rgb(7, 124, 124);
  font-size: 1rem;
}

.skills-heading {
  font-size: 3em;
  color: white;
  border-bottom: 0.3rem dashed black;
  margin-bottom: 2rem;
  display: inline-block;
  margin: 1rem;
  display: inline-block;
}

.skills-list {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.skills-item {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 1rem;
  border-bottom: 0.2rem solid black;
  text-shadow: 0.3rem 0.4rem 0.1rem black;
}

footer {
  background-color: rgb(4, 94, 94);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.contact-heading {
  text-align: center;
  font-size: 3rem;
  color: rgb(255, 255, 255);

  display: inline;
}

.contact-list {
  text-align: center;
}

.contact-list-item {
  font-size: 2rem;
  color: white;
  display: inline;
  padding: 2rem 2rem;
}
