@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, rgb(39, 152, 58), #471f85);
    color: #000000;
    padding: 1em 0;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
}

section:hover {
    transform: scale(1.01);
}

h1, h2, h3 {
    color: #ff416c;
}

p {
    line-height: 1.6;
    color: #666;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

footer {
    background: linear-gradient(to right, rgb(137, 177, 143), #4804ae);
    color: #000000;
    padding: 1em 0;
    text-align: center;
    display: inline-block;
    list-style: none;
    width: 100%;
    
}