@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color:bisque;
   
    
}

header {
   background-color: aqua;
    color: #000000;
    padding: 1em 0;
    text-align: center;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 50%;
}

.construction{
    font-size: 10rem;
   background-color:greenyellow;
   border-left: 1rem solid #8a0202;
   border-top-right-radius: 75%;
   
article{
    background-color: aquamarine;
}

/* section:hover {
    transform: scale(1.01);
} */

/* h1, h2, h3 {
    color: #8a0202;
} */

p {
    line-height: 1.6;
    color: #577b18;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color;: 
}

footer {
   background-color: burlywood;
    color: #000000;
    padding: 1em 0;
    text-align: center;
    display: inline-block;
    list-style: none;
    width: 100%;
    border-top-right-radius: 60%;
    border-top-left-radius: 30%;
    
}