* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin-right: 0%;
  padding: 0%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(88, 182, 213);
}
header {
  background-color: rgb(100, 152, 170);
}

form {
  /* display: inline-block; */
  margin-top: 1rem;
}

.calculator-border {
  border: 0.3rem groove #ccc;
  border-radius: 1rem;
  width: 30rem;
  height: 48rem;
  background-color: rgb(178, 184, 241);
  box-shadow: rgb(158, 153, 86) 0.2rem 0.2rem 0.2rem;
}

.number-button,
.operator-button,
.clear-button {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  font-size: 5rem;
  border-radius: 10%;
  box-shadow: rgb(158, 153, 86) 0.2rem 0.2rem 0.2rem;
}

.number-button {
  background-color: #5b56ea;
  border: 0.2rem solid #ccc;
}

.operator-button {
  font-size: 5rem;
  background-color: #33d253;
  border: 0.2rem dotted #ccc;
}

.clear-button {
  font-size: 5rem;
  background-color: #44c977;
  border: 0.2rem dashed #ccc;
  width: 13rem;
}

.calculate-button {
  width: 13rem;
}

#result {
  width: 28rem;
  height: 10rem;
  font-size: 5rem;
  text-align: right;
  margin-bottom: 1rem;
  border: 0.2rem solid #e35454;
  background-color: #eaf0b3;
  border-radius: 1rem;
}

.calculator {
  /* width: 100vw; */
  height: 100vh;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
