* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

form {
  display: inline-block;
  margin-top: 1rem;
}

.number-button,
.operator-button,
.clear-button {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  margin: 0.5rem;
  font-size: 5rem;
}

.number-button {
  background-color: #f2f2f2;
  border: 0.2rem solid #ccc;
}

.operator-button {
  font-size: 5rem;
  background-color: #f2f2f2;
  border: 0.2rem solid #ccc;
}

.clear-button {
  font-size: 5rem;
  background-color: #f2f2f2;
  border: 0.2rem solid #ccc;
}

#result {
  width: 31.5rem;
  height: 7rem;
  font-size: 6rem;
  text-align: right;
  margin-top: 1rem;
}

.calculator {
  width: 100vw;
  height: 100vh;
  margin: 1rem;
  padding: 1rem;
}
